<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/poke-icon.png') }}" />
        
        <title>PokeAPI - Pokémon 26/02/2021</title>
    </head>
    <body>

        <div class="poke_container">
            <img src="{{ url_for('static', filename='img/pokemon-logo.png') }}" alt="Logotipo Pokemon Oficial.">
        </div>

        {% block conteudo %}
        {% endblock %}
        
        <div class="poke_leafs">
            <div class="poke_leaf poke_leaf1"></div>
            <div class="poke_leaf poke_leaf2"></div>
            <div class="poke_leaf poke_leaf3"></div>

            <div class="poke_leaf poke_leaf4"></div>
            <div class="poke_leaf poke_leaf5"></div>
            <div class="poke_leaf poke_leaf6"></div>
        </div>

    </body>
</html>